In [1]:
import pandas as pd
from libs.lib import get_file_dir

In [17]:
# load data
df = pd.read_csv(get_file_dir('data','행정구역(시군구)별 인구수(11-22).csv'),encoding='euc-kr')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Columns: 139 entries, 행정구역(시군구)별 to Unnamed: 138
dtypes: float64(136), object(3)
memory usage: 325.9+ KB

In [19]:
df.head(5)

,행정구역(시군구)별,항목,단위,2011.01 월,2011.02 월,2011.03 월,2011.04 월,2011.05 월,2011.06 월,2011.07 월,...,2021.07 월,2021.08 월,2021.09 월,2021.10 월,2021.11 월,2021.12 월,2022.01 월,2022.02 월,2022.03 월,Unnamed: 138
0,전국,총인구수[명],명,50534731.0,50555262.0,50575130.0,50594424.0,50613213.0,50627347.0,50641565.0,...,51671569.0,51669716.0,51667688.0,51662290.0,51652704.0,51638809.0,51632473.0,51625561.0,51610695.0,NaN
1,서울특별시,총인구수[명],명,10312835.0,10314245.0,10307783.0,10301829.0,10295643.0,10288284.0,10282472.0,...,9558153.0,9550227.0,9542256.0,9532428.0,9520880.0,9509458.0,9505926.0,9508451.0,9506778.0,NaN
2,종로구,총인구수[명],명,170577.0,170617.0,170099.0,169855.0,169648.0,169473.0,169217.0,...,145692.0,145551.0,145512.0,145346.0,145073.0,144683.0,144543.0,144575.0,144275.0,NaN
3,중구,총인구수[명],명,132827.0,132997.0,132913.0,132819.0,132633.0,132406.0,132224.0,...,122951.0,122852.0,122858.0,122781.0,122673.0,122499.0,122315.0,122167.0,122173.0,NaN
4,용산구,총인구수[명],명,244744.0,244802.0,245361.0,245566.0,246671.0,247057.0,247206.0,...,225977.0,224977.0,224145.0,223713.0,223442.0,222953.0,222573.0,222413.0,222169.0,NaN

In [20]:
df.tail(5)

,행정구역(시군구)별,항목,단위,2011.01 월,2011.02 월,2011.03 월,2011.04 월,2011.05 월,2011.06 월,2011.07 월,...,2021.07 월,2021.08 월,2021.09 월,2021.10 월,2021.11 월,2021.12 월,2022.01 월,2022.02 월,2022.03 월,Unnamed: 138
295,거창군,총인구수[명],명,63426.0,63408.0,63321.0,63240.0,63206.0,63227.0,63237.0,...,61478.0,61399.0,61245.0,61242.0,61143.0,61073.0,60916.0,60828.0,60841.0,NaN
296,합천군,총인구수[명],명,50941.0,50772.0,50731.0,50723.0,50677.0,50729.0,50697.0,...,43380.0,43228.0,43054.0,43029.0,43007.0,42935.0,42855.0,42797.0,42716.0,NaN
297,제주특별자치도,총인구수[명],명,571468.0,571913.0,572447.0,572918.0,573459.0,573757.0,574175.0,...,675876.0,675883.0,676079.0,676569.0,676768.0,676759.0,676691.0,677143.0,677218.0,NaN
298,제주시,총인구수[명],명,417847.0,418475.0,419015.0,419478.0,420012.0,420374.0,420837.0,...,492917.0,492868.0,492927.0,493225.0,493220.0,493096.0,492919.0,492919.0,493023.0,NaN
299,서귀포시,총인구수[명],명,153621.0,153438.0,153432.0,153440.0,153447.0,153383.0,153338.0,...,182959.0,183015.0,183152.0,183344.0,183548.0,183663.0,183772.0,184224.0,184195.0,NaN

In [21]:
# 전체 컬럼명 확인
print(df.columns.tolist()) # have to remove 'Unnamed: 138'

['행정구역(시군구)별', '항목', '단위', '2011.01 월', '2011.02 월', '2011.03 월', '2011.04 월', '2011.05 월', '2011.06 월', '2011.07 월', '2011.08 월', '2011.09 월', '2011.10 월', '2011.11 월', '2011.12 월', '2012.01 월', '2012.02 월', '2012.03 월', '2012.04 월', '2012.05 월', '2012.06 월', '2012.07 월', '2012.08 월', '2012.09 월', '2012.10 월', '2012.11 월', '2012.12 월', '2013.01 월', '2013.02 월', '2013.03 월', '2013.04 월', '2013.05 월', '2013.06 월', '2013.07 월', '2013.08 월', '2013.09 월', '2013.10 월', '2013.11 월', '2013.12 월', '2014.01 월', '2014.02 월', '2014.03 월', '2014.04 월', '2014.05 월', '2014.06 월', '2014.07 월', '2014.08 월', '2014.09 월', '2014.10 월', '2014.11 월', '2014.12 월', '2015.01 월', '2015.02 월', '2015.03 월', '2015.04 월', '2015.05 월', '2015.06 월', '2015.07 월', '2015.08 월', '2015.09 월', '2015.10 월', '2015.11 월', '2015.12 월', '2016.01 월', '2016.02 월', '2016.03 월', '2016.04 월', '2016.05 월', '2016.06 월', '2016.07 월', '2016.08 월', '2016.09 월', '2016.10 월', '2016.11 월', '2016.12 월', '2017.01 월', '2017.02 월', '2017.03 월', '2017.04 월', '2017.05 월', '2017.06 월', '2017.07 월', '2017.08 월', '2017.09 월', '2017.10 월', '2017.11 월', '2017.12 월', '2018.01 월', '2018.02 월', '2018.03 월', '2018.04 월', '2018.05 월', '2018.06 월', '2018.07 월', '2018.08 월', '2018.09 월', '2018.10 월', '2018.11 월', '2018.12 월', '2019.01 월', '2019.02 월', '2019.03 월', '2019.04 월', '2019.05 월', '2019.06 월', '2019.07 월', '2019.08 월', '2019.09 월', '2019.10 월', '2019.11 월', '2019.12 월', '2020.01 월', '2020.02 월', '2020.03 월', '2020.04 월', '2020.05 월', '2020.06 월', '2020.07 월', '2020.08 월', '2020.09 월', '2020.10 월', '2020.11 월', '2020.12 월', '2021.01 월', '2021.02 월', '2021.03 월', '2021.04 월', '2021.05 월', '2021.06 월', '2021.07 월', '2021.08 월', '2021.09 월', '2021.10 월', '2021.11 월', '2021.12 월', '2022.01 월', '2022.02 월', '2022.03 월', 'Unnamed: 138']

In [22]:
# 행별 null 갯수 확인
print(df.isna().sum().tolist())

[0, 0, 0, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 21, 8, 8, 8, 300]

In [23]:
# 행정구역 확인
df['행정구역(시군구)별'].unique()

array(['전국', '서울특별시', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구',
       '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구',
       '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구',
       '부산광역시', '서구', '동구', '영도구', '부산진구', '동래구', '남구', '북구', '해운대구',
       '사하구', '금정구', '연제구', '수영구', '사상구', '기장군', '대구광역시', '수성구', '달서구',
       '달성군', '인천광역시', '중구영종출장소', '중구용유출장소', '미추홀구', '연수구', '남동구', '부평구',
       '계양구', '서구검단출장소', '강화군', '옹진군', '광주광역시', '광산구', '대전광역시', '유성구',
       '대덕구', '울산광역시', '울주군', '세종특별자치시', '세종시', '경기도', '수원시', '장안구',
       '권선구', '팔달구', '영통구', '성남시', '수정구', '중원구', '분당구', '의정부시', '안양시',
       '만안구', '동안구', '부천시', '원미구', '소사구', '오정구', '광명시', '평택시', '송탄출장소',
       '안중출장소', '동두천시', '안산시', '상록구', '단원구', '고양시', '덕양구', '일산동구', '일산서구',
       '과천시', '구리시', '남양주시', '풍양출장소', '오산시', '시흥시', '군포시', '의왕시', '하남시',
       '용인시', '처인구', '기흥구', '수지구', '파주시', '이천시', '안성시', '김포시', '화성시',
       '화성시동부출장소', '화성시동탄출장소', '광주시', '양주시', '포천시', '여주시', '여주군', '연천군',
       '가평군', '양평군', '강원도', '춘천시', '원주시', '강릉시', '동해시', '태백시', '속초시',
       '삼척시', '홍천군', '횡성군', '영월군', '평창군', '정선군', '철원군', '화천군', '양구군',
       '인제군', '고성군', '양양군', '충청북도', '청주시', '서원구', '청원구', '상당구', '흥덕구',
       '충주시', '제천시', '청원군', '보은군', '옥천군', '영동군', '증평군', '진천군', '괴산군',
       '음성군', '단양군', '충청남도', '당진시', '천안시', '동남구', '서북구', '공주시', '보령시',
       '아산시', '서산시', '논산시', '계룡시', '금산군', '연기군', '부여군', '서천군', '청양군',
       '홍성군', '예산군', '태안군', '당진군', '전라북도', '전주시', '완산구', '덕진구',
       '전주시효자출장소', '군산시', '익산시', '익산시함열출장소', '정읍시', '남원시', '김제시', '완주군',
       '진안군', '무주군', '장수군', '임실군', '순창군', '고창군', '부안군', '전라남도', '목포시',
       '여수시', '순천시', '나주시', '광양시', '담양군', '곡성군', '구례군', '고흥군', '보성군',
       '화순군', '장흥군', '강진군', '해남군', '영암군', '무안군', '함평군', '영광군', '장성군',
       '완도군', '진도군', '신안군', '경상북도', '포항시', '경주시', '김천시', '안동시', '구미시',
       '영주시', '영천시', '상주시', '문경시', '경산시', '군위군', '의성군', '청송군', '영양군',
       '영덕군', '청도군', '고령군', '성주군', '칠곡군', '예천군', '봉화군', '울진군', '울릉군',
       '경상남도', '창원시', '의창구', '성산구', '마산합포구', '마산회원구', '진해구', '진주시', '통영시',
       '사천시', '사천남양출장소', '김해시', '장유출장소', '밀양시', '거제시', '양산시', '양산시웅상출장소',
       '의령군', '함안군', '창녕군', '남해군', '하동군', '산청군', '함양군', '거창군', '합천군',
       '제주특별자치도', '제주시', '서귀포시'], dtype=object)

In [24]:
# ~출장소 라는 이름을 가진 행정구역 구분
remove_index = df[df['행정구역(시군구)별'].str.endswith('출장소')].index
print(df.shape[0],remove_index.__len__())

300 13

In [25]:
# 삭제할 컬럼 확인
print(df['항목'].unique())
print(df['단위'].unique())

remove_columns = ['항목','단위','Unnamed: 138']

['총인구수[명]']
['명']

In [26]:
filled_zero = df.fillna(value=0)
df_removed = filled_zero.loc[:,~filled_zero.columns.isin(remove_columns)].iloc[~df.index.isin(remove_index),:]

print(df_removed.columns.tolist()) # 컬럼 제외 확인
print(df_removed.isna().sum().sum()) # na 값 0으로 대체되었는지 확인
print(df_removed.shape[0]) # 행정구역 이름이 '출장소'로 되어있는 행 제외 확인

['행정구역(시군구)별', '2011.01 월', '2011.02 월', '2011.03 월', '2011.04 월', '2011.05 월', '2011.06 월', '2011.07 월', '2011.08 월', '2011.09 월', '2011.10 월', '2011.11 월', '2011.12 월', '2012.01 월', '2012.02 월', '2012.03 월', '2012.04 월', '2012.05 월', '2012.06 월', '2012.07 월', '2012.08 월', '2012.09 월', '2012.10 월', '2012.11 월', '2012.12 월', '2013.01 월', '2013.02 월', '2013.03 월', '2013.04 월', '2013.05 월', '2013.06 월', '2013.07 월', '2013.08 월', '2013.09 월', '2013.10 월', '2013.11 월', '2013.12 월', '2014.01 월', '2014.02 월', '2014.03 월', '2014.04 월', '2014.05 월', '2014.06 월', '2014.07 월', '2014.08 월', '2014.09 월', '2014.10 월', '2014.11 월', '2014.12 월', '2015.01 월', '2015.02 월', '2015.03 월', '2015.04 월', '2015.05 월', '2015.06 월', '2015.07 월', '2015.08 월', '2015.09 월', '2015.10 월', '2015.11 월', '2015.12 월', '2016.01 월', '2016.02 월', '2016.03 월', '2016.04 월', '2016.05 월', '2016.06 월', '2016.07 월', '2016.08 월', '2016.09 월', '2016.10 월', '2016.11 월', '2016.12 월', '2017.01 월', '2017.02 월', '2017.03 월', '2017.04 월', '2017.05 월', '2017.06 월', '2017.07 월', '2017.08 월', '2017.09 월', '2017.10 월', '2017.11 월', '2017.12 월', '2018.01 월', '2018.02 월', '2018.03 월', '2018.04 월', '2018.05 월', '2018.06 월', '2018.07 월', '2018.08 월', '2018.09 월', '2018.10 월', '2018.11 월', '2018.12 월', '2019.01 월', '2019.02 월', '2019.03 월', '2019.04 월', '2019.05 월', '2019.06 월', '2019.07 월', '2019.08 월', '2019.09 월', '2019.10 월', '2019.11 월', '2019.12 월', '2020.01 월', '2020.02 월', '2020.03 월', '2020.04 월', '2020.05 월', '2020.06 월', '2020.07 월', '2020.08 월', '2020.09 월', '2020.10 월', '2020.11 월', '2020.12 월', '2021.01 월', '2021.02 월', '2021.03 월', '2021.04 월', '2021.05 월', '2021.06 월', '2021.07 월', '2021.08 월', '2021.09 월', '2021.10 월', '2021.11 월', '2021.12 월', '2022.01 월', '2022.02 월', '2022.03 월']
0
287

In [27]:
# 데이텉타입 변경
df_removed.iloc[:,1:] = df_removed.iloc[:,1:].apply(lambda x: x.astype(int),axis=1)
df_removed.to_csv(get_file_dir('refined','행정구역(시군구)별_인구수_tidy.csv'))
df_removed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287 entries, 0 to 299
Columns: 136 entries, 행정구역(시군구)별 to 2022.03 월
dtypes: int32(135), object(1)
memory usage: 155.8+ KB

In [28]:
df_removed.head(3)

,행정구역(시군구)별,2011.01 월,2011.02 월,2011.03 월,2011.04 월,2011.05 월,2011.06 월,2011.07 월,2011.08 월,2011.09 월,...,2021.06 월,2021.07 월,2021.08 월,2021.09 월,2021.10 월,2021.11 월,2021.12 월,2022.01 월,2022.02 월,2022.03 월
0,전국,50534731,50555262,50575130,50594424,50613213,50627347,50641565,50662739,50681829,...,51672400,51671569,51669716,51667688,51662290,51652704,51638809,51632473,51625561,51610695
1,서울특별시,10312835,10314245,10307783,10301829,10295643,10288284,10282472,10277507,10271880,...,9565990,9558153,9550227,9542256,9532428,9520880,9509458,9505926,9508451,9506778
2,종로구,170577,170617,170099,169855,169648,169473,169217,169190,169188,...,146029,145692,145551,145512,145346,145073,144683,144543,144575,144275

In [70]:
# column 명 정제작업
new_columns = ['행정구역(시군구)',*df_removed.columns[1:].map(lambda x:x.replace(' 월','')).tolist()]

renamed = df_removed.copy()
renamed.columns = new_columns
renamed

,행정구역(시군구),2011.01,2011.02,2011.03,2011.04,2011.05,2011.06,2011.07,2011.08,2011.09,...,2021.06,2021.07,2021.08,2021.09,2021.10,2021.11,2021.12,2022.01,2022.02,2022.03
0,전국,50534731,50555262,50575130,50594424,50613213,50627347,50641565,50662739,50681829,...,51672400,51671569,51669716,51667688,51662290,51652704,51638809,51632473,51625561,51610695
1,서울특별시,10312835,10314245,10307783,10301829,10295643,10288284,10282472,10277507,10271880,...,9565990,9558153,9550227,9542256,9532428,9520880,9509458,9505926,9508451,9506778
2,종로구,170577,170617,170099,169855,169648,169473,169217,169190,169188,...,146029,145692,145551,145512,145346,145073,144683,144543,144575,144275
3,중구,132827,132997,132913,132819,132633,132406,132224,132179,131989,...,123016,122951,122852,122858,122781,122673,122499,122315,122167,122173
4,용산구,244744,244802,245361,245566,246671,247057,247206,247119,246932,...,226378,225977,224977,224145,223713,223442,222953,222573,222413,222169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,거창군,63426,63408,63321,63240,63206,63227,63237,63241,63230,...,61555,61478,61399,61245,61242,61143,61073,60916,60828,60841
296,합천군,50941,50772,50731,50723,50677,50729,50697,50573,50486,...,43465,43380,43228,43054,43029,43007,42935,42855,42797,42716
297,제주특별자치도,571468,571913,572447,572918,573459,573757,574175,574724,575129,...,675293,675876,675883,676079,676569,676768,676759,676691,677143,677218
298,제주시,417847,418475,419015,419478,420012,420374,420837,421341,421824,...,492627,492917,492868,492927,493225,493220,493096,492919,492919,493023
299,서귀포시,153621,153438,153432,153440,153447,153383,153338,153383,153305,...,182666,182959,183015,183152,183344,183548,183663,183772,184224,184195

In [131]:
# restruct
melted = pd.melt(frame=renamed,id_vars=['행정구역(시군구)'],value_vars=renamed.columns[1:]).sort_values(['행정구역(시군구)','variable'])
melted.columns = ['행정구역','연도','명']
melted

      행정구역       연도       명
136    가평군  2011.01   58932
423    가평군  2011.02   58900
710    가평군  2011.03   58898
997    가평군  2011.04   58941
1284   가평군  2011.05   59065
...    ...      ...     ...
37472  흥덕구  2021.11  267725
37759  흥덕구  2021.12  267429
38046  흥덕구  2022.01  267504
38333  흥덕구  2022.02  267343
38620  흥덕구  2022.03  267299

[38745 rows x 3 columns]

In [144]:
# 추가 정제작업
# 세종시 => 동일한 데이터, 따라서, 하나는 삭제
index_to_remove = melted[melted['행정구역'].str.startswith('세종시')].index
drop_sejong = melted.drop(index=index_to_remove,axis=0)

drop_sejong[drop_sejong['행정구역'].str.startswith('세종시')]

Empty DataFrame
Columns: [행정구역, 연도, 명]
Index: []

In [150]:
# 대분류(광역지방자치단체) 분류
conds = (
        drop_sejong['행정구역'].str.startswith('전국') 
        | drop_sejong['행정구역'].str.endswith('광역시') 
        | drop_sejong['행정구역'].str.endswith('특별시') 
        | drop_sejong['행정구역'].str.endswith('자치시') 
        | drop_sejong['행정구역'].str.endswith('도')
        )

drop_sejong[conds].to_csv(get_file_dir('refined','인구수_시도별.csv'),index=False)

# 행정구역 확인 
district_gu = drop_sejong[~conds]['행정구역'].unique()
district_gu

array(['가평군', '강남구', '강동구', '강릉시', '강북구', '강서구', '강진군', '강화군', '거제시',
       '거창군', '경산시', '경주시', '계룡시', '계양구', '고령군', '고성군', '고양시', '고창군',
       '고흥군', '곡성군', '공주시', '과천시', '관악구', '광명시', '광산구', '광양시', '광주시',
       '광진구', '괴산군', '구례군', '구로구', '구리시', '구미시', '군산시', '군위군', '군포시',
       '권선구', '금산군', '금정구', '금천구', '기장군', '기흥구', '김제시', '김천시', '김포시',
       '김해시', '나주시', '남구', '남동구', '남양주시', '남원시', '남해군', '노원구', '논산시',
       '단양군', '단원구', '달서구', '달성군', '담양군', '당진군', '당진시', '대덕구', '덕양구',
       '덕진구', '도봉구', '동구', '동남구', '동대문구', '동두천시', '동래구', '동안구', '동작구',
       '동해시', '마산합포구', '마산회원구', '마포구', '만안구', '목포시', '무안군', '무주군', '문경시',
       '미추홀구', '밀양시', '보령시', '보성군', '보은군', '봉화군', '부산진구', '부안군', '부여군',
       '부천시', '부평구', '북구', '분당구', '사상구', '사천시', '사하구', '산청군', '삼척시',
       '상당구', '상록구', '상주시', '서구', '서귀포시', '서대문구', '서북구', '서산시', '서원구',
       '서천군', '서초구', '성남시', '성동구', '성북구', '성산구', '성주군', '소사구', '속초시',
       '송파구', '수성구', '수영구', '수원시', '수정구', '수지구', '순창군', '순천시', '시흥시',
       '신안군', '아산시', '안동시', '안산시', '안성시', '안양시', '양구군', '양산시', '양양군',
       '양주시', '양천구', '양평군', '여수시', '여주군', '여주시', '연기군', '연수구', '연제구',
       '연천군', '영광군', '영덕군', '영도구', '영동군', '영등포구', '영암군', '영양군', '영월군',
       '영주시', '영천시', '영통구', '예산군', '예천군', '오산시', '오정구', '옥천군', '옹진군',
       '완도군', '완산구', '완주군', '용산구', '용인시', '울릉군', '울주군', '울진군', '원미구',
       '원주시', '유성구', '은평구', '음성군', '의령군', '의성군', '의왕시', '의정부시', '의창구',
       '이천시', '익산시', '인제군', '일산동구', '일산서구', '임실군', '장성군', '장수군', '장안구',
       '장흥군', '전주시', '정선군', '정읍시', '제주시', '제천시', '종로구', '중구', '중랑구',
       '중원구', '증평군', '진도군', '진안군', '진주시', '진천군', '진해구', '창녕군', '창원시',
       '처인구', '천안시', '철원군', '청도군', '청송군', '청양군', '청원구', '청원군', '청주시',
       '춘천시', '충주시', '칠곡군', '태백시', '태안군', '통영시', '파주시', '팔달구', '평창군',
       '평택시', '포천시', '포항시', '하남시', '하동군', '함안군', '함양군', '함평군', '합천군',
       '해남군', '해운대구', '홍성군', '홍천군', '화성시', '화순군', '화천군', '횡성군', '흥덕구'],
      dtype=object)

In [155]:
# 중분류(기초지방자치단체) 분류 및 저장 - 군구
drop_sejong[drop_sejong['행정구역'].isin(district_gu)].to_csv(get_file_dir('refined','인구수_군구별.csv'),index=False)