# 데이터 변환 Data Transformation

데이터 분석이 쉬운 형태로 변환

+ 타이디 데이터 Tidy Data

    - data sets that are arranged such that each variable is a column and each observation (or case) is a row.

<h3> 원본 데이터 </h3>  <!-- /data 파일에 저장 -->

+ 일반폐기물재활용률_시도_시_군_구(10-19).csv

+ 주민_1인당_생활폐기물배출량_시도_시_군(10-19).csv

+ 폐기물 재활용실적 및 업체현황(2010-2019).csv

<h3> 정제 후 데이터 </h3>   <!-- 변환 후 data/refined/에 csv 형식으로 저장 -->

+ 일반폐기물재활용률(10-19).csv

+ 주민_1인당_생활폐기물배출량(10-19).csv

+ 폐기물 재활용실적 및 업체현황(10-19).csv

### 사용 라이브러리

In [2]:
import pandas as pd
import numpy as np
from libs.lib import get_file_dir

### <b>1. 일반폐기물재활용률_시도_시_군_구(10-19)</b>

In [51]:
f_w_path = get_file_dir('data','일반폐기물재활용률_시도_시_군_구(10-19).csv')
df = pd.read_csv(f_w_path, encoding='CP949')
df.head(3)

,행정구역별(1),행정구역별(2),2010,2010.1,2010.2,2011,2011.1,2011.2,2012,2012.1,...,2016.2,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2
0,행정구역별(1),행정구역별(2),일반폐기물재활용률<br>(A÷B×100) (%),총재활용량<br>(A) (톤/일),생활폐기물 총발생량<br>(B) (톤/일),일반폐기물재활용률<br>(A÷B×100) (%),총재활용량<br>(A) (톤/일),생활폐기물 총발생량<br>(B) (톤/일),일반폐기물재활용률<br>(A÷B×100) (%),총재활용량<br>(A) (톤/일),...,생활폐기물 총발생량<br>(B) (톤/일),일반폐기물재활용률<br>(A÷B×100) (%),총재활용량<br>(A) (톤/일),생활폐기물 총발생량<br>(B) (톤/일),일반폐기물재활용률<br>(A÷B×100) (%),총재활용량<br>(A) (톤/일),생활폐기물 총발생량<br>(B) (톤/일),일반폐기물재활용률<br>(A÷B×100) (%),총재활용량<br>(A) (톤/일),생활폐기물 총발생량<br>(B) (톤/일)
1,전국,소계,60.5,29752.9,49159.0,59.1,28938.9,48934.4,59.1,28951.0,...,53771.9,61.6,32931.4,53489.5,62.0,34747.1,56035.4,59.7,34613.3,57961.4
2,서울특별시,소계,65.8,6592.7,10020.4,63.5,5993.2,9440.1,65.3,6004.5,...,9608.0,67.1,6180.2,9217.3,68.0,6456.9,9492.9,66.4,6535.4,9847.4

In [52]:
# 연도만 따로 떼서 저장

df_year = df.columns[2::3]

print(df_year)

Index(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019'],
      dtype='object')

In [53]:
# 첫 줄(연도) 제외하고 데이터 다시 불러오기


df = pd.read_csv(f_w_path, encoding='CP949', header=1)

df.head(3)

,행정구역별(1),행정구역별(2),일반폐기물재활용률<br>(A÷B×100) (%),총재활용량<br>(A) (톤/일),생활폐기물 총발생량<br>(B) (톤/일),일반폐기물재활용률<br>(A÷B×100) (%).1,총재활용량<br>(A) (톤/일).1,생활폐기물 총발생량<br>(B) (톤/일).1,일반폐기물재활용률<br>(A÷B×100) (%).2,총재활용량<br>(A) (톤/일).2,...,생활폐기물 총발생량<br>(B) (톤/일).6,일반폐기물재활용률<br>(A÷B×100) (%).7,총재활용량<br>(A) (톤/일).7,생활폐기물 총발생량<br>(B) (톤/일).7,일반폐기물재활용률<br>(A÷B×100) (%).8,총재활용량<br>(A) (톤/일).8,생활폐기물 총발생량<br>(B) (톤/일).8,일반폐기물재활용률<br>(A÷B×100) (%).9,총재활용량<br>(A) (톤/일).9,생활폐기물 총발생량<br>(B) (톤/일).9
0,전국,소계,60.5,29752.9,49159.0,59.1,28938.9,48934.4,59.1,28951.0,...,53771.9,61.6,32931.4,53489.5,62.0,34747.1,56035.4,59.7,34613.3,57961.4
1,서울특별시,소계,65.8,6592.7,10020.4,63.5,5993.2,9440.1,65.3,6004.5,...,9608.0,67.1,6180.2,9217.3,68.0,6456.9,9492.9,66.4,6535.4,9847.4
2,서울특별시,종로구,65.6,288.0,439.0,63.5,261.1,411.0,69.6,268.9,...,406.0,60.7,227.7,375.1,64.7,234.7,362.7,64.6,219.6,339.9

In [54]:
# 2010년 데이터부터 tidy 데이터로 변경

# melt
df_0 = pd.melt(df, id_vars=('행정구역별(1)', '행정구역별(2)'), value_vars=('일반폐기물재활용률<br>(A÷B×100) (%)', '총재활용량<br>(A) (톤/일)', '생활폐기물 총발생량<br>(B) (톤/일)'))

# variable 값 통일
df_0['variable'].replace({'일반폐기물재활용률<br>(A÷B×100) (%)':'일반폐기물재활용률',
                          '총재활용량<br>(A) (톤/일)':'총재활용량', 
                          '생활폐기물 총발생량<br>(B) (톤/일)':'생활폐기물총발생량'},
                          inplace=True)

# 연도 컬럼 추가 및 설정
df_0['year']=df_year[0]

df_0.head()

  행정구역별(1) 행정구역별(2)   variable value  year
0       전국       소계  일반폐기물재활용률  60.5  2010
1    서울특별시       소계  일반폐기물재활용률  65.8  2010
2    서울특별시      종로구  일반폐기물재활용률  65.6  2010
3    서울특별시       중구  일반폐기물재활용률  54.5  2010
4    서울특별시      용산구  일반폐기물재활용률  88.8  2010

In [55]:
# 2010년 이후 데이터 자동화

for i in range(1, len(df_year)):
    
    # melt
    globals()['df_'+str(i)] = pd.melt(df, id_vars=('행정구역별(1)', '행정구역별(2)'), value_vars=('일반폐기물재활용률<br>(A÷B×100) (%).{}'.format(i), '총재활용량<br>(A) (톤/일).{}'.format(i), '생활폐기물 총발생량<br>(B) (톤/일).{}'.format(i)))
    
    # variable 값 통일
    globals()['df_'+str(i)]['variable'].replace({'일반폐기물재활용률<br>(A÷B×100) (%).{}'.format(i): '일반폐기물재활용률',
                                                 '총재활용량<br>(A) (톤/일).{}'.format(i):'총재활용량', 
                                                 '생활폐기물 총발생량<br>(B) (톤/일).{}'.format(i):'생활폐기물총발생량'},
                                                 inplace=True)
    
    # 연도 컬럼 추가 및 설정
    globals()['df_'+str(i)]['year']=df_year[i]

df_9.head()

  행정구역별(1) 행정구역별(2)   variable value  year
0       전국       소계  일반폐기물재활용률  59.7  2019
1    서울특별시       소계  일반폐기물재활용률  66.4  2019
2    서울특별시      종로구  일반폐기물재활용률  64.6  2019
3    서울특별시       중구  일반폐기물재활용률  54.2  2019
4    서울특별시      용산구  일반폐기물재활용률  65.1  2019

In [56]:
# concatenate
df_concat = pd.concat([df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9], axis=0)

# 인덱스 재설정
df = df_concat.reset_index(drop=True)

df.head()

  행정구역별(1) 행정구역별(2)   variable value  year
0       전국       소계  일반폐기물재활용률  60.5  2010
1    서울특별시       소계  일반폐기물재활용률  65.8  2010
2    서울특별시      종로구  일반폐기물재활용률  65.6  2010
3    서울특별시       중구  일반폐기물재활용률  54.5  2010
4    서울특별시      용산구  일반폐기물재활용률  88.8  2010

In [57]:
# variable 변수의 값들을 컬럼으로 치환

condition = df['variable']=='일반폐기물재활용률'
df_temp_1 = df[condition].rename(columns={'value':'일반폐기물재활용률'}).drop(columns=['variable'])

condition = df['variable']=='총재활용량'
df_temp_2 = df[condition].rename(columns={'value':'총재활용량'}).drop(columns=['variable'])

condition = df['variable']=='생활폐기물총발생량'
df_temp_3 = df[condition].rename(columns={'value':'생활폐기물총발생량'}).drop(columns=['variable'])

df_join = pd.merge(df_temp_1, df_temp_2)
df_join = pd.merge(df_join, df_temp_3)


# 컬럼 순서 정렬 

df = df_join[['행정구역별(1)', '행정구역별(2)', 'year', '일반폐기물재활용률', '총재활용량', '생활폐기물총발생량']]

df.head()

  행정구역별(1) 행정구역별(2)  year 일반폐기물재활용률    총재활용량 생활폐기물총발생량
0       전국       소계  2010      60.5  29752.9   49159.0
1    서울특별시       소계  2010      65.8   6592.7   10020.4
2    서울특별시      종로구  2010      65.6    288.0     439.0
3    서울특별시       중구  2010      54.5    288.4     529.2
4    서울특별시      용산구  2010      88.8    180.8     203.7

In [58]:
# 소계, 총계등 통계값 제거하여 데이터 교란(이상치) 방지

condition = (df['행정구역별(1)']=='전국')|(df['행정구역별(2)']=='소계') # 전국 총계 및 시도별 소계 ROW

df = df.drop(index=df[condition].index) # 해당 index의 ROW 제거

df.head()

  행정구역별(1) 행정구역별(2)  year 일반폐기물재활용률  총재활용량 생활폐기물총발생량
2    서울특별시      종로구  2010      65.6  288.0     439.0
3    서울특별시       중구  2010      54.5  288.4     529.2
4    서울특별시      용산구  2010      88.8  180.8     203.7
5    서울특별시      성동구  2010      62.8  177.2     282.0
6    서울특별시      광진구  2010      73.6  288.6     392.3

In [60]:
# 실질적 결측치 처리

df['일반폐기물재활용률'].unique() # '-' 값 존재 (실질적 결측치) 

condition = df['일반폐기물재활용률'] == '-'

print(len(df[condition])) 

df.replace('-', np.nan, inplace=True) # '-' 널값으로 대치

df.reset_index(drop=True, inplace=True)

0

In [61]:
# tidy data csv 파일로 저장
this_file_path = get_file_dir('refined','일반폐기물재활용률(10-19).csv')
df.to_csv(this_file_path, index=False)

# 저장 확인
pd.read_csv(this_file_path)

     행정구역별(1) 행정구역별(2)  year  일반폐기물재활용률  총재활용량  생활폐기물총발생량
0       서울특별시      종로구  2010       65.6  288.0      439.0
1       서울특별시       중구  2010       54.5  288.4      529.2
2       서울특별시      용산구  2010       88.8  180.8      203.7
3       서울특별시      성동구  2010       62.8  177.2      282.0
4       서울특별시      광진구  2010       73.6  288.6      392.3
...       ...      ...   ...        ...    ...        ...
2335     경상남도      함양군  2019       31.5   16.8       53.3
2336     경상남도      거창군  2019       55.3   53.8       97.3
2337     경상남도      합천군  2019       51.8   29.0       56.0
2338  제주특별자치도      제주시  2019       59.6  512.5      860.3
2339  제주특별자치도     서귀포시  2019       68.2  254.4      373.2

[2340 rows x 6 columns]

### <b>2. 주민_1인당_생활폐기물배출량_시도_시_군(10-19)</b>

In [85]:
f_path = get_file_dir('data','주민_1인당_생활폐기물배출량_시도_시_군(10-19).csv')
df = pd.read_csv(f_path, encoding='CP949')

df.head(3)

,행정구역별(1),행정구역별(2),2010,2010.1,2010.2,2011,2011.1,2011.2,2012,2012.1,...,2016.2,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2
0,행정구역별(1),행정구역별(2),주민1인당 생활폐기물배출량<br>(A÷B) (kg/일),생활폐기물발생량<br>(A) (톤/일),주민등록인구<br>(B) (명),주민1인당 생활폐기물배출량<br>(A÷B) (kg/일),생활폐기물발생량<br>(A) (톤/일),주민등록인구<br>(B) (명),주민1인당 생활폐기물배출량<br>(A÷B) (kg/일),생활폐기물발생량<br>(A) (톤/일),...,주민등록인구<br>(B) (명),주민1인당 생활폐기물배출량<br>(A÷B) (kg/일),생활폐기물발생량<br>(A) (톤/일),주민등록인구<br>(B) (명),주민1인당 생활폐기물배출량<br>(A÷B) (kg/일),생활폐기물발생량<br>(A) (톤/일),주민등록인구<br>(B) (명),주민1인당 생활폐기물배출량<br>(A÷B) (kg/일),생활폐기물발생량<br>(A) (톤/일),주민등록인구<br>(B) (명)
1,전국,전국,1,49159,50515666,1,48934.4,50734284,1,48989.8,...,51696216,1,53489.5,51778544,1.1,56035.4,51826059,1.1,57961.4,51849861
2,서울특별시,서울특별시,1,10020.4,10312545,0.9,9440.1,10249679,0.9,9189.3,...,9930616,0.9,9217.3,9857426,1,9492.9,9765623,1,9847.4,9729107

In [86]:
# 연도만 따로 떼서 저장

df_year = df.columns[2::3]

print(df_year)

Index(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019'],
      dtype='object')

In [87]:
# 첫 줄(연도) 제외하고 데이터 다시 불러오기

df = pd.read_csv(f_path, encoding='CP949', header=1)
df.head(3)

,행정구역별(1),행정구역별(2),주민1인당 생활폐기물배출량<br>(A÷B) (kg/일),생활폐기물발생량<br>(A) (톤/일),주민등록인구<br>(B) (명),주민1인당 생활폐기물배출량<br>(A÷B) (kg/일).1,생활폐기물발생량<br>(A) (톤/일).1,주민등록인구<br>(B) (명).1,주민1인당 생활폐기물배출량<br>(A÷B) (kg/일).2,생활폐기물발생량<br>(A) (톤/일).2,...,주민등록인구<br>(B) (명).6,주민1인당 생활폐기물배출량<br>(A÷B) (kg/일).7,생활폐기물발생량<br>(A) (톤/일).7,주민등록인구<br>(B) (명).7,주민1인당 생활폐기물배출량<br>(A÷B) (kg/일).8,생활폐기물발생량<br>(A) (톤/일).8,주민등록인구<br>(B) (명).8,주민1인당 생활폐기물배출량<br>(A÷B) (kg/일).9,생활폐기물발생량<br>(A) (톤/일).9,주민등록인구<br>(B) (명).9
0,전국,전국,1,49159,50515666,1,48934.4,50734284,1,48989.8,...,51696216,1,53489.5,51778544,1.1,56035.4,51826059,1.1,57961.4,51849861
1,서울특별시,서울특별시,1,10020.4,10312545,0.9,9440.1,10249679,0.9,9189.3,...,9930616,0.9,9217.3,9857426,1,9492.9,9765623,1,9847.4,9729107
2,서울특별시,종로구,2.6,439,170578,2.4,411,168382,2.3,386.6,...,152737,2.4,375.1,154770,2.4,362.7,153065,2.2,339.9,151290

In [88]:
# 2010년 데이터부터 tidy 데이터로 변경

# melt
df_0 = pd.melt(df, id_vars=('행정구역별(1)', '행정구역별(2)'), value_vars=('주민1인당 생활폐기물배출량<br>(A÷B) (kg/일)', '생활폐기물발생량<br>(A) (톤/일)', '주민등록인구<br>(B) (명)'))

# variable 값 통일
df_0['variable'].replace({'주민1인당 생활폐기물배출량<br>(A÷B) (kg/일)':'주민1인당 생활폐기물배출량',
                          '생활폐기물발생량<br>(A) (톤/일)':'생활폐기물발생량', 
                          '주민등록인구<br>(B) (명)':'주민등록인구'},
                          inplace=True)

# 연도 컬럼 추가 및 설정
df_0['year']=df_year[0]

df_0.head()

  행정구역별(1) 행정구역별(2)        variable value  year
0       전국       전국  주민1인당 생활폐기물배출량     1  2010
1    서울특별시    서울특별시  주민1인당 생활폐기물배출량     1  2010
2    서울특별시      종로구  주민1인당 생활폐기물배출량   2.6  2010
3    서울특별시       중구  주민1인당 생활폐기물배출량     4  2010
4    서울특별시      용산구  주민1인당 생활폐기물배출량   0.8  2010

In [89]:
# 2010년 이후 데이터 자동화

for i in range(1, len(df_year)):
    
    # melt
    globals()['df_'+str(i)] = pd.melt(df, id_vars=('행정구역별(1)', '행정구역별(2)'), value_vars=('주민1인당 생활폐기물배출량<br>(A÷B) (kg/일).{}'.format(i), '생활폐기물발생량<br>(A) (톤/일).{}'.format(i), '주민등록인구<br>(B) (명).{}'.format(i)))
    
    # variable 값 통일
    globals()['df_'+str(i)]['variable'].replace({'주민1인당 생활폐기물배출량<br>(A÷B) (kg/일).{}'.format(i): '주민1인당 생활폐기물배출량',
                                                 '생활폐기물발생량<br>(A) (톤/일).{}'.format(i):'생활폐기물발생량', 
                                                 '주민등록인구<br>(B) (명).{}'.format(i):'주민등록인구'},
                                                 inplace=True)
    
    # 연도 컬럼 추가 및 설정
    globals()['df_'+str(i)]['year']=df_year[i]

df_9.head()

  행정구역별(1) 행정구역별(2)        variable value  year
0       전국       전국  주민1인당 생활폐기물배출량   1.1  2019
1    서울특별시    서울특별시  주민1인당 생활폐기물배출량     1  2019
2    서울특별시      종로구  주민1인당 생활폐기물배출량   2.2  2019
3    서울특별시       중구  주민1인당 생활폐기물배출량   3.3  2019
4    서울특별시      용산구  주민1인당 생활폐기물배출량   1.3  2019

In [90]:
# concatenate
df_concat = pd.concat([df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9], axis=0)

# 인덱스 재설정
df = df_concat.reset_index(drop=True)

df

     행정구역별(1) 행정구역별(2)        variable   value  year
0          전국       전국  주민1인당 생활폐기물배출량       1  2010
1       서울특별시    서울특별시  주민1인당 생활폐기물배출량       1  2010
2       서울특별시      종로구  주민1인당 생활폐기물배출량     2.6  2010
3       서울특별시       중구  주민1인당 생활폐기물배출량       4  2010
4       서울특별시      용산구  주민1인당 생활폐기물배출량     0.8  2010
...       ...      ...             ...     ...   ...
7555     경상남도      거창군          주민등록인구   62179  2019
7556     경상남도      합천군          주민등록인구   45204  2019
7557  제주특별자치도  제주특별자치도          주민등록인구  670989  2019
7558  제주특별자치도      제주시          주민등록인구  489405  2019
7559  제주특별자치도     서귀포시          주민등록인구  181584  2019

[7560 rows x 5 columns]

In [91]:
# variable 변수의 값들을 컬럼으로 치환

condition = df['variable']=='주민1인당 생활폐기물배출량'
df_temp_1 = df[condition].rename(columns={'value':'주민1인당 생활폐기물배출량'}).drop(columns=['variable'])

condition = df['variable']=='생활폐기물발생량'
df_temp_2 = df[condition].rename(columns={'value':'생활폐기물발생량'}).drop(columns=['variable'])

condition = df['variable']=='주민등록인구'
df_temp_3 = df[condition].rename(columns={'value':'주민등록인구'}).drop(columns=['variable'])

In [92]:
df_join = pd.merge(df_temp_1, df_temp_2)
df_join = pd.merge(df_join, df_temp_3)
df = df_join[['행정구역별(1)', '행정구역별(2)', 'year', '주민1인당 생활폐기물배출량', '생활폐기물발생량', '주민등록인구']]

df.head()

  행정구역별(1) 행정구역별(2)  year 주민1인당 생활폐기물배출량 생활폐기물발생량    주민등록인구
0       전국       전국  2010              1    49159  50515666
1    서울특별시    서울특별시  2010              1  10020.4  10312545
2    서울특별시      종로구  2010            2.6      439    170578
3    서울특별시       중구  2010              4    529.2    132822
4    서울특별시      용산구  2010            0.8    203.7    244853

In [93]:
# 소계, 총계등 통계값 제거하여 데이터 교란(이상치) 방지

condition = (df['행정구역별(1)']=='전국')|(df['행정구역별(1)']==df['행정구역별(2)']) # 전국 총계 ROW


df = df.drop(index=df[condition].index).reset_index(drop=True) # 해당 index의 ROW 제거

df.head()

  행정구역별(1) 행정구역별(2)  year 주민1인당 생활폐기물배출량 생활폐기물발생량  주민등록인구
0    서울특별시      종로구  2010            2.6      439  170578
1    서울특별시       중구  2010              4    529.2  132822
2    서울특별시      용산구  2010            0.8    203.7  244853
3    서울특별시      성동구  2010            0.9      282  309093
4    서울특별시      광진구  2010              1    392.3  375463

행정구역별(1)          0
행정구역별(2)          0
year              0
주민1인당 생활폐기물배출량    0
생활폐기물발생량          0
주민등록인구            0
dtype: int64
54

In [95]:
# 결측치 탐색

print(df.isnull().sum())

# 실질적 결측치 탐색 처리

df['주민1인당 생활폐기물배출량'].unique() # '-' 값 존재 (실질적 결측치) 

condition = df['주민1인당 생활폐기물배출량'] == '-'

print(len(df[condition])) 

df.replace('-', 0, inplace=True) # '-' 0 값으로 대치

행정구역별(1)          0
행정구역별(2)          0
year              0
주민1인당 생활폐기물배출량    0
생활폐기물발생량          0
주민등록인구            0
dtype: int64
54

In [96]:
# 자료형 변환

df['year'] = df['year'].astype('object')

df['주민1인당 생활폐기물배출량'] = df['주민1인당 생활폐기물배출량'].astype('float')

df['생활폐기물발생량'] = df['생활폐기물발생량'].astype('float')

df['주민등록인구'] = df['주민등록인구'].astype('int32')

In [97]:
# tidy data csv 파일로 저장
this_file_path = get_file_dir('refined','주민_1인당_생활폐기물배출량_시도_시_군(10-19).csv')
df.to_csv(this_file_path, index=False)

pd.read_csv(this_file_path)

# 행정구역별에 시도와 시군구가 섞여있는 것 다른 데이터와 일치시켜야 함.

     행정구역별(1) 행정구역별(2)  year  주민1인당 생활폐기물배출량  생활폐기물발생량  주민등록인구
0       서울특별시      종로구  2010             2.6     439.0  170578
1       서울특별시       중구  2010             4.0     529.2  132822
2       서울특별시      용산구  2010             0.8     203.7  244853
3       서울특별시      성동구  2010             0.9     282.0  309093
4       서울특별시      광진구  2010             1.0     392.3  375463
...       ...      ...   ...             ...       ...     ...
2335     경상남도      함양군  2019             1.3      53.3   39637
2336     경상남도      거창군  2019             1.6      97.3   62179
2337     경상남도      합천군  2019             1.2      56.0   45204
2338  제주특별자치도      제주시  2019             1.8     860.3  489405
2339  제주특별자치도     서귀포시  2019             2.1     373.2  181584

[2340 rows x 6 columns]

### <b>3. 폐기물 재활용실적 및 업체현황(2010-2019)</b>

In [136]:
df = pd.read_csv(get_file_dir('data','폐기물 재활용실적 및 업체현황(2010-2019).csv'), encoding='CP949')

In [137]:
# 소계, 총계등 통계값 제거하여 데이터 교란(이상치) 방지

condition = (df['폐기물']=='계')|(df['폐기물']=='총계')|(df['지역']=='총계')|(df['폐기물 소분류']=='소계')|(df['폐기물 소분류']=='계')|(df['분류']=='총계')

df = df.drop(index=df[condition].index)
df = df.drop(columns=['폐기물'])

df = df.reset_index(drop=True)

In [138]:
# 시도 명칭 통일

df['지역'].replace({'강원':'강원도', '경기':'경기도', '경남':'경상남도', '경북':'경상북도', '광주':'광주광역시', '대구':'대구광역시',
                   '대전':'대전광역시', '부산':'부산광역시', '서울':'서울특별시', '세종':'세종특별자치시', '울산':'울산광역시', 
                   '인천':'인천광역시', '전남':'전라남도', '전북':'전라북도', '제주':'제주특별자치도', '충남':'충청남도', '충북':'충청북도', 
                   '제주도':'제주특별자치도'}, inplace=True)

df['지역'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [139]:
# 자료형 변환

df['연도'] = df['연도'].astype('object')

df['가동업체수'] = df['가동업체수'].apply(lambda x: x.replace(',', ''))
df['가동업체수'] = df['가동업체수'].replace(',',"").astype('int32')

df['재활용 폐기물량'] = df['재활용 폐기물량'].apply(lambda x: x.replace(',', ''))
df['재활용 폐기물량'] = df['재활용 폐기물량'].astype('float')

df['판매량'] = df['판매량'].apply(lambda x: x.replace(',', ''))
df['판매량'] = df['판매량'].astype('float')

df['판매총액'] = df['판매총액'].apply(lambda x: x.replace(',', ''))
df['판매총액'] = df['판매총액'].astype('float')

In [140]:
condition = df['연도']==2010
df[condition]['판매총액'] = df[condition]['판매총액'] /1000

<ipython-input-140-3d8421aa85e9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[condition]['판매총액'] = df[condition]['판매총액'] /1000

In [141]:
condition = df['연도']==2010
df.loc[df[condition].index]['판매총액'] = df.loc[df[condition].index]['판매총액'] / 1000

In [142]:
for i in df[condition].index:
    df.loc[i, '판매총액'] = df.loc[i, '판매총액'] / 1000

In [143]:
condition = df['연도']==2010
df[condition]

,지역,연도,폐기물 소분류,분류,가동업체수,재활용 폐기물량,판매량,판매총액
5447,서울특별시,2010,폐합성고분자화합물,허가업체,7,19398.0,6177.0,1732415.99
5448,서울특별시,2010,"폐콘크리트, 페아스팔트콘크리트, 폐벽돌, 폐기와",허가업체,1,19216.0,18948.0,2686150.00
5449,서울특별시,2010,폐지류,허가업체,1,833.0,0.0,0.00
5450,서울특별시,2010,폐금속류,허가업체,2,5477.0,3843.0,2480353.26
5451,서울특별시,2010,음식물류폐기물 및 처리물,허가업체,1,12286.0,13225.0,317013.60
...,...,...,...,...,...,...,...,...
12211,제주특별자치도,2010,폐지류,신고업체,4,5991.0,3065.0,319714.34
12212,제주특별자치도,2010,고철 및 금속캔류,신고업체,4,4611.0,3123.0,374004.30
12213,제주특별자치도,2010,폐합성수지,신고업체,1,127.0,127.0,0.00
12214,제주특별자치도,2010,유리병,신고업체,1,33.0,33.0,0.00
12215,제주특별자치도,2010,영농폐기물,신고업체,1,248.0,248.0,0.00

In [144]:
df_temp = df.groupby(df['연도'])[['분류','가동업체수', '재활용 폐기물량', '판매량', '판매총액']].sum().reset_index()
df_temp

     연도  가동업체수    재활용 폐기물량         판매량          판매총액
0  2010  19178  63306258.0  50491814.0  9.027568e+09
1  2011  14797  62381218.0  32114017.0  6.978985e+09
2  2012  15405  55767932.0  25871014.0  5.443227e+09
3  2013   8139  41933946.0  28509378.0  4.964970e+09
4  2014   9059  45485648.0  34915545.0  6.044644e+09
5  2015   8680  40300774.0  30193324.0  5.373568e+09
6  2016   7480  36942858.0  31783399.0  4.561197e+09
7  2017   5352  33569666.0  34594756.0  4.159841e+09
8  2018   5775  35289503.0  33246837.0  4.020987e+09
9  2019  17677  68814419.0  63724788.0  1.022902e+10

In [145]:
# tidy data csv 파일로 저장
this_file_path = get_file_dir('refined','폐기물 재활용실적 및 업체현황(10-19).csv')
df.to_csv(this_file_path, index=False, encoding='CP949')

pd.read_csv(this_file_path, encoding='CP949')

            지역    연도    폐기물 소분류    분류  가동업체수   재활용 폐기물량       판매량         판매총액
0          강원도  2019     유기성오니류  허가업체     68   436844.0   36906.0    326490.00
1          강원도  2019     무기성오니류  허가업체     31  1009937.0  361541.0  26030991.00
2          강원도  2019  폐합성고분자화합물  허가업체     90   852900.0  170449.0  23801203.00
3          강원도  2019        광재류  허가업체      6   104067.0   75769.0         0.00
4          강원도  2019        분진류  허가업체      7    35391.0       0.0         0.00
...        ...   ...        ...   ...    ...        ...       ...          ...
12211  제주특별자치도  2010        폐지류  신고업체      4     5991.0    3065.0    319714.34
12212  제주특별자치도  2010  고철 및 금속캔류  신고업체      4     4611.0    3123.0    374004.30
12213  제주특별자치도  2010      폐합성수지  신고업체      1      127.0     127.0         0.00
12214  제주특별자치도  2010        유리병  신고업체      1       33.0      33.0         0.00
12215  제주특별자치도  2010      영농폐기물  신고업체      1      248.0     248.0         0.00

[12216 rows x 8 columns]